# ================================================================================================ #
# Secrets & Environment Variables

# Local 'dotenv' Files
.env.local
.env.*.local

# ================================================================================================ #
# Generated Output

# Directories
out/
.idea/
cmake-build-debug/

# ================================================================================================ #
# Development Utilities

# Caching
.cache/

# ================================================================================================ #
# Compilation and Building

# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Directories
build/
install/

# ================================================================================================ #
